<!DOCTYPE html>

    <head>
      
        <title>Engagement Website</title>
        <link rel="stylesheet" href="/home/hobson/Desktop/practice/random-website/views/styles.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        
    </head>
    <body>
<!-- THE NAVBAR-->


<!-- NAVIGATION SECTION -->
<div class='img'>
<div class="navigation">
  
    <span>Home</span>
    <span>Our Story</span>
    <span>The Wedding</span>
    <span>Wedding Party</span>
    <span>Details</span>
    <span>Register Now</span>
   

</div>


<!--BODY SECTION--> 

<div class="body">
    
    <div class='detail'>
        <div class='details'>
            <p class='weds'>Bella and Brown</p>
            <p class='engaged'>WE'RE ENGAGED</p>
            <p class ='date'>Sep 01, 2023, 7:00 PM St. Peter's Chapel</p>
            <button>RSVP</button>
        </div>
        

    </div>
</div>

<!-- FOOTER SECTION-->

<div class='footer'>
    <p class="copyright">© 2023 by Bella and Brown. Proudly created with Wix.com</p>
    <div class='icons'>
    <i class="facebook icon" id='i'></i>
    <i class="twitter icon" id='i'></i>
    <i class="instagram icon" id='i'></i>
    </div>
   

</div>
</div>




      
        <script src="" async defer></script>
    </body>
</html>